<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página de Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Contenidos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item (click)="scanQRCode()">Escanear código QR</ion-item>
        <ion-item (click)="goToLogin()">Volver al inicio de sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="subject-box" #subjectBox>
        <h2>Asignaturas</h2>
        <ul>
          <li>Arquitectura <span class="attendance">85% de Asistencia</span></li>
          <li>Programación de aplicaciones móviles <span class="attendance">90% de Asistencia</span></li>
          <li>Calidad de software <span class="attendance">80% de Asistencia</span></li>
          <li>Portafolio <span class="attendance">95% de Asistencia</span></li>
          <li>Estadística <span class="attendance">75% de Asistencia</span></li>
        </ul>
      </div>

      <!-- Botón que muestra/oculta el código QR -->
      <ion-button (click)="toggleQRCode()">Generar Código QR</ion-button>

      <!-- Imagen del código QR (visible solo cuando isQRCodeVisible es true) -->
      <div *ngIf="isQRCodeVisible" class="qr-container">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png"
          alt="Código QR"
          class="qr-image"
        />
      </div>
    </ion-content>
  </div>
</ion-content>
