.qr-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .qr-image {
    max-width: 200px;
    margin-top: 20px;
  }

  .small-button {
    font-size: 14px;
    max-width: 100px;
    padding: 8px;
    margin: auto;
  }
  
  
  